* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(234, 227, 217);
    background: rgb(38, 36, 36);
    color: rgb(234, 227, 217);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}