<aticle class="post">
    <header>
        <h2 class="post__title">
            Lorem Ipsum
        </h2>
    </header>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur harum. Officia odio sint similique nam explicabo, quam non eos fuga sequi dolore. Quasi, aut reiciendis. Voluptate pariatur non quia?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur harum. Officia odio sint similique nam explicabo, quam non eos fuga sequi dolore. Quasi, aut reiciendis. Voluptate pariatur non quia?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur harum. Officia odio sint similique nam explicabo, quam non eos fuga sequi dolore. Quasi, aut reiciendis. Voluptate pariatur non quia?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur harum. Officia odio sint similique nam explicabo, quam non eos fuga sequi dolore. Quasi, aut reiciendis. Voluptate pariatur non quia?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur harum. Officia odio sint similique nam explicabo, quam non eos fuga sequi dolore. Quasi, aut reiciendis. Voluptate pariatur non quia?
    </div>
</aticle>
